# directories (auto generated)
__pycache__
**/documentation/html/
**/documentation/latex/
**/documentation/xml/
bin/
build/
libs/

# files
*_DoxyfileVersion
*_Fingerprints.txt
*_Version.h
coverxygen_*.json
DoxygenWarnings.log
Makefile
