# directories (auto generated)
__pycache__
**/cppcheck/build/
**/cppcheck/results/
**/documentation/
**/metrixplusplus/results/
bin/
build/
libs/

# files
*_Fingerprints.txt
*_Version.h
coverxygen_*.json
LIB*Version.cpp
LIB*Version.h
Makefile
Test_LIB*Version.cpp
